.myTitle {
    text-align: center;
    background-color: aquamarine;
    padding: 2rem;
}

.butt {
    margin-top: 1rem;
}

canvas {
    margin-top: 1rem;
    background-color: antiquewhite;
    border: 5px solid darkslateblue;
}
